
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 

/* 

CSS reset code after here Christina!!! 

*/                                         

body{
    width: 100vw;
}

.section {
	color: #ffffff;
	height: 75vh;
	margin: 0;
}

/*Header CSS*/
.fa-fa-bar{
  display: flex;
  justify-content: center;
}
/*
.tiny-box
    width: 80px;
  display: flex;
  justify-content: space-between;
}*/

.menu-toggle{  
background-color: transparent;
border: 0;
width: 110px;
display: flex;
justify-content: space-between;
align-items: center;
color: #4B4233;
font-weight: 800; 
line-height: 1.5;
margin: 1px auto 2px;
padding: 1em;
border-radius: 2px;
transition: background 0.2; 
cursor: pointer;
font-size: 18px
  
}
.menu-toggle:hover{
  background-color: #7B6C55
}


header{
  width: 100%;
}
nav{
  height: inherit;
  width: 100%;
  height: 10vh;
}


.sticky{
  background: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  top: 0;
  z-index: 999; 
}
.sticky a{
  color: #4B4233;
  transition: color 0.2s;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 130%;
  font-weight: 600;
}

nav a:hover{
color: #7B6C55;  
}
.sticky a:active{
 color: #7B6C55;
}



.medium-box{
    margin-top: 7px; 
  margin-right: 5vw;
  margin-left: 5vw;
  height: 30px;
}

.list-inline{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  list-style: none;
  padding: 25px 0px 25px 0px;
}

/*
.list-inline > li{
  display: inline-block;  
  margin-left: 0.2em; 
  margin: right; 0.2em;
}


.list-inline > li:before{
  content: "\200B"; 
  position: absolute;
}

*/
.maid{
    width: 100vw; 
    height: 90vh; 
    object-fit: cover;
    object-position: 20% 10%;
    margin-bottom: -3px; 
}



html{
  background-color: white;
}
  
footer{
  background-color: white;
  display: flex;
  flex-direction: column;
}

hr{
  height: 1px;
  width: 80%;
  padding: 5px 0
  background-color: black;
}

.first-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.smicons{
  border-radius: 50%;
  display: flex;
  background:  #4B4233;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 20px 10px 20px 10px;
}

.discord{
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 13px 10px 10px 10px;
}
.facebook{
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 12px 12px 10px 10px;
}
.email{
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 7px 10px 12px 10px;
}

.newsletter{
  font-size: 15px;
}
a{
  color:  #4B4233;
}

.second-box{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  margin-left: 80px;
  
}
.small-box{
  width: 160px;
  height: 30px;
}



.third-box{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.made-with-love{
  color: #4B4233;
}

p {
  font-size: 140%;
}



/* MEDIA QURRY */

.topnav, .menu-toggle, .icon{
  display: none; 
}



/*media queries*/
@media screen and (max-width:650px){
.list-inline, .medium-box, nav {display: none; }  

/* code for the drop down */ 
.maid{
    height: 70vh;
}

    
.list-inline-d, .medium-box-d, .nav-d {
    display: flex; 
}  

    
.stickyd
{
    padding-top: 2.312vh; 
  display: flex  ;
  flex-direction: column  ;
  height: inherit  ;
border-top: 0px; 
}


    
.list-inline-d{
    height: inherit;
    padding: 0px;
    padding-bottom:10px;
    text-align: left;
    display: inline-block;
  }
  .medium-box-d{
    border-bottom: 1px solid #eee;
  } 
.nav-d{
  border-top: 1px solid #eee;
height: inherit;
} 
.stickA-d {
  font-weight: 530;
}  
/* end code for the drop down */ 

    
.topnav, .menu-toggle, .icon{ display: flex; }

.smicons{
  border-radius: 50%;
  display: flex;
  background:  #4B4233;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  margin: 20px 10px 20px 10px;
}

.discord{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 13px 10px 10px 10px;
}
.facebook{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 12px 12px 10px 10px;
}
.email{
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 7px 10px 12px 10px;
}
  .made-with-love{
  font-size: 16px;
  text-align: center;
  }
}






/*Contact us Page*/

main{
  display: flex;
  justify-content: center;
}

.form-container{
  background-color: f2f2f2;
  font-size: 40px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 70%;
}
input[type=text], input[type=email], textarea{
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#4B4233;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #7B6C55;
}
.sform-container{
  width: 100%;
  
}
.sform-container li{
  margin: 10px 0px;
  font-size: 20px;
}
.fs17{
  font-size: 20px;
}
.styleh2{
  font-size: 40px;
}

/*FAQ*/
.faq-container{
  display: block;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 70%;
}

.faq-container h3{
  font-size: 22px;
  font-weight: bold;
  margin: 40px 0px 15px 0px;
  height: 30px;
  display: flex;
  align-items: center;
}

.faq-container h4{
  font-size: 20px;
  font-weight: bold;
  margin: ; 0px 0px -10px 0px;
  height: 30px;
  display: flex;
  align-items: center;
}

.faq-container p{
  font-size: 20px;
  line-height: 1.75;
}
/*Newsletter*/

.news-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}


  
.mnews-container{
display: flex;
flex-direction: column;
}

.snews-container{
  margin: 20px;
}  
  
.snews-container > h4{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.display_archive{
  font-size: 20px !important;
}


#mc_embed_signup{
  width: auto !important; 
}


#mc_embed_signup h2 {
  font-size: 28px  !important;
  margin-top: 20px !important; 
  
}
/*ART*/
.artheader{
  font-size: 40px;
  padding-top: 20px;
  padding-left: 23vw;
  
}
.artheader4{
  padding-top: 20px;
  padding-left: 23vw;
  font-size: 18px;
  font-style: italic;
}

/*Light Gallery CSS CODEPEN*/
#animated-thumbnails body {
  color: transparent;
  min-height: 100vh;
}

/*LIGHT GALLERY CSS 2*/


.art-main{
padding:40px; 
display: flex; 
justify-content: center;
}



.gallery-container{
    display: flex;
    flex-wrap: wrap;
}

.img-responsive{
 max-width: 90vw;
/*padding: 1vw;*/
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.gallery-item {  
    margin-left: auto !important;
    margin-right: auto !important;
    
} 

/*Home Page*/

/* Container holding the image and the text */
.hp-container{
  display: block;
  width: min(90%, 80.5rem);
  margin-inline: auto;
}

.hph1{
  font-size: 7vw;
  padding: 60px;
  display: flex;
  text-align: center;
  color:  #4B4233;
}

.hph2 {
  padding-left: 6.5vw;
  margin-left: 6vw;
  margin-right: 7vw;
  padding-top: 6vw;
  padding-bottom: 3vw;
  font-size: 5.5vw;
  color:  #4B4233;
}
.hppstyle{
  padding-left: 7.5vw;
  padding-right: 6.5vw;
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  margin-bottom: 5vw;
  line-height: 1.3;
  font-size: 3.5vw;
  color:  #4B4233;
}

.hpimg-container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-size: 3.75rem;*/
  font-size: 5.5vw;
  color:  #4B4233;
}

.bgstyle {
   max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}







@media screen and (min-width:800px){
.img-responsive{
width: 300px; 
    padding: 5px; 
}

.hppstyle{

font-size:40px; 
    
}

.hph1 {
    font-size:70px 
}

.centered{

    font-size: 50px; 
}
    
}

